<% include ./top.ejs %>
<body>
  <!-- N A V B A R -->
<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <a class="navbar-brand" href="#">
    <img src="images/logo.png" width="30" height="30" alt="">
    <inline class="align-middle font-weight-bold">STADY</inline>
  </a>

  <div class="collapse navbar-collapse"></div>
  <a class="btn btn-primary btn-sm btn-sm my-2 my-sm-0" href="#downLink">
    <small class="text-white font-weight-bold">알파 다운로드</small>
  </a>

</nav>
  <!-- E N D  N A V B A R -->
  
  <!-- H E R O -->
  <section id="hero">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center">
          <img src="images/mockup.png" class="img-fluid " alt="Demo image">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <span>STADY</span>
          <h1>그래프로 보는<br><b>당신의 노력과 열정.</b></h1>
          <p>내 공부를 기록하고 통계로 정리해보세요.<br>같은 시험을 준비하는 다른 사람과 비교해보세요.</p>
          <a href="<%=apkLink%>" id="downLink" class="btn btn-regular"><b>알파 다운로드</b></a>
          <br>
          <br>
          <br>

          <p>공지사항</p>
          <h5><%=notice%></h5>
          <small><%=reg_date%></small>
          <br/>

          <div>
            <p><i><%=versionStatus%> <%=versionReal%></i></p>
            <h5 style="white-space:pre-line">
              <%=changes%>
            </h5>
            <br/><br />
          </div>



          <form method="post" action="bugReport" name="comment">

            <div class="form-row align-items-center">
              <div class="col-10 col-md-11 my-1">
                <label class="sr-only" id="c" for="inlineFormInputName">코멘트</label>
                <input name="comment" type="text" class="form-control" id="inlineFormInputName" placeholder="코멘트" name="comment">

              </div>


              <div class="col-2 col-md-1 my-1">
                <button type="submit" class="btn btn-outline-success">입력</button>
              </div>
            </div>
          </form>

          <% 
          comment[0]
          for(var i = 0; i < comment.length; i++) {

              %><small class='font-weight-light'>
            <%=comment[i].comment%> </small>
          <%
              %><small class='font-weight-light'>
            <%=comment[i].reg_date%></small><br>
          <%
              
          }
          %>
                    






        </div>
      </div>
    </div>
  </section>




  <!-- E N D  H E R O -->

  <!---->
  <!-- E N D  M A R K E T I N G -->
  <!-- section id="marketing">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="content-box">
            <span>Organic Search Report</span>
            <h2>Search Insights</h2>
            <p>Grow your search traffic, research your competitors keywords and monitor your ranking in real time.</p>
            <a href="#" class="btn btn-regular">Start Free Trial</a>
          </div>
        </div>
        <div class="col-md-7">
            <img src="images/demo-image.png" class="img-fluid" alt="Demo image">
        </div>
      </div>
    </div>
  </section> -->
  <!-- E N D  M A R K E T I N G -->

  <!-- T E S T I M O N I A L S -->
  <!-- section id="testimonials">
    <div class="container">
      <div class="title-block">
        <h2>The Best Digital Agencies Recommend Our Software</h2>
        <p>Industry experts mention their experience using our software and the excellent results they have achieved</p>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="testimonial-box">
            <div class="row personal-info">
              <div class="col-md-2 col-xs-2">
                <div class="profile-picture review-one"></div>
              </div>
              <div class="col-md-10 col-xs-10">
                <h6>Joshua M. Salas <span class="rating">5 <i class="icon ion-md-star"></i></span></h6>
                <small>Marketing Intelligence | Author & Content Creator</small>
              </div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur scelerisque, tortor nec mattis feugiat, velit purus euismod odio, quis vulputate velit urna sit amet enim. Maecenas vulputate auctor ligula sed sollicitudin.</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="testimonial-box">
            <div class="row personal-info">
              <div class="col-md-2 col-xs-2">
                <div class="profile-picture review-one"></div>
              </div>
              <div class="col-md-10 col-xs-10">
                <h6>Michael Edwards <span class="rating">5 <i class="icon ion-md-star"></i></span></h6>
                <small>Seo Consultant | Author & Content Creator</small>
              </div>
            </div>
            <p>In euismod, metus ac elementum tincidunt, dui eros ullamcorper lorem, at euismod augue augue quis leo. Fusce non dui augue. In hac habitasse platea dictumst. Mauris quis lacinia mauris. Proin ut pretium quam. Nam at ex finibus.</p>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!-- E N D  T E S T I M O N I A L S -->

  <!-- P R I C I N G -->
  <!-- <section id="pricing">
    <div class="container">
      <div class="title-block">
        <h2>Plans and Pricing</h2>
        <p>The best software to develop perfect content and advertising strategies to increase leads and sales.</p>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="pricing-box">
            <h3 class="demo">Demo Version</h3>
            <h6>Free</h6>
            <small>forever</small>
            <p>Demo gives you full access to all features for 7 days</p>
            <div class="divider-light"></div>
            <ul>
              <li><i class="icon ion-md-checkmark-circle-outline demo"></i>Marketing plan</li>
              <li><i class="icon ion-md-checkmark-circle-outline demo"></i>Seo reporting tool</li>
              <li><i class="icon ion-md-checkmark-circle-outline demo"></i>Keywords explorer</li>
              <li><i class="icon ion-md-checkmark-circle-outline demo"></i>Competitive analysis</li>
              <li><i class="icon ion-md-checkmark-circle-outline demo"></i>Five projects - <span class="demo">¡New!</span></li>
            </ul>
            <div class="text-center">
              <a href="#" class="btn btn-demo">Demo version</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="pricing-box">
            <h3>Standard Version</h3>
            <h6>$9</h6>
            <small>per month</small>
            <p>Outrank your competitors with this amazing software</p>
            <div class="divider-light"></div>
            <ul>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Marketing plan</li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Seo reporting tool</li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Keywords explorer</li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Competitive analysis</li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Unlimited projects - <span>¡New!</span></li>
            </ul>
            <div class="text-center">
              <a href="#" class="btn btn-buy">Buy now</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="pricing-box">
            <h3>Agency Version</h3>
            <h6>$29</h6>
            <small>per month</small>
            <p>For agencies and businesses with extensive web presence</p>
            <div class="divider-light"></div>
            <ul>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Marketing plan</li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Seo reporting tool</li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Keywords explorer</li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Competitive analysis</li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Unlimited projects - <span>¡New!</span></li>
            </ul>
            <div class="text-center">
              <a href="#" class="btn btn-buy">Buy now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!-- E N D  P R I C I N G -->

  <!-- C A L L  T O  A C T I O N -->
  <!-- <section id="call-to-action">
    <div class="container text-center">
      <h2>Increase your conversion rates now</h2>
      <div class="title-block">
        <p>Learn how to increase both your online and offline conversion rates and boost your sales and profits.</p>
        <a href="#" class="btn btn-regular">Get Started</a>
      </div>
    </div>
  </section> -->
  <!-- E N D  C A L L  T O  A C T I O N -->

  <!--  F O O T E R  -->
  <!-- <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h5>Seo Ranking</h5>
          <ul>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Affiliate Program</a></li>
            <li><a href="#">Developer API</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#">Video Tutorials</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5>Main Tools</h5>
          <ul>
            <li><a href="#">Rank Tracker</a></li>
            <li><a href="#">Backlink Checker</a></li>
            <li><a href="#">Keyword Generator</a></li>
            <li><a href="#">Serp Checker</a></li>
            <li><a href="#">Site Audit</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5>Blog</h5>
          <ul>
            <li><a href="#">Get High Quality Backlinks</a></li>
            <li><a href="#">Top Google Searches</a></li>
            <li><a href="#">Avoid Google Penalties</a></li>
            <li><a href="#">White Hat SEO Tips</a></li>
            <li><a href="#">Google Trends</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5>Company</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur scelerisque, tortor nec mattis feugiat, velit purus euismod odio, quis vulputate velit urna.</p>
          <p><a href="mailto:sales@theseocompany.com" class="external-links">sales@theseocompany.com</a></p>
        </div>
      </div> 
      <div class="divider"></div>
      <div class="row">
        <div class="col-md-6 col-xs-12">
            <a href="#"><i class="icon ion-logo-facebook"></i></a>
            <a href="#"><i class="icon ion-logo-instagram"></i></a>
            <a href="#"><i class="icon ion-logo-twitter"></i></a>
            <a href="#"><i class="icon ion-logo-youtube"></i></a>
          </div>
          <div class="col-md-6 col-xs-12">
            <small>2018 &copy; All rights reserved. Made by <a href="http://templune.com/" target="blank" class="external-links">Templune</a></small>
          </div>
      </div>
    </div>
  </footer> -->
  <!--  E N D  F O O T E R  -->
    

    <!-- External JavaScripts -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </body>
</html>